$bgcolor: #2e3440;
$fgcolor: #d8dee9;
$grey: #3b4252;
$grey-alt: #4c566a;
$red: #bf616a;
$green: #a3be8c;
$yellow: #ebcb8b;
$blue: #81a1c1;
$purple: #b48ead;
$aqua: #88c0d0;
$aqua-alt: #8fbcbb;
$aqua-alt: #8fbcbb;
$fg1: #e5e9f0;
$fg1: #eceff4;

* {
  all: unset; // Unset everything so I can style from scratch
}

window {
  background-color: $bgcolor;
}

progress {
  border-radius: 5px;
}

.progress {
  background-color: $grey;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 13px;
  min-width: 233px;
}

.ram_used progress {
  background-color: $yellow;
}

.storage_used progress {
  background-color: $purple;
}

.light_percentage progress {
  background-color: $green;
}

.label {
  all: unset;
  margin-right: 5px;
  color: $fgcolor;
  font-size: 40px;
}

.clock {
  background-color: $bgcolor;
  color: $fgcolor;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 90px;
  font-weight: lighter;
}

.clock-minute {
  color: $aqua;
  padding-left: 15px;
}

.row {
  margin-top: 5px;
}

.resource_usage {
  background-color: $bgcolor;
  color: $fgcolor;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
