$bgcolor: #272727;
$fgcolor: #ebdbb2;
$grey: #272727;
$grey-alt: #928373;
$red: #cc231c;
$green: #989719;
$yellow: #d79920;
$blue: #448488;
$purple: #b16185;
$aqua: #689d69;
$aqua-alt: #8ec07b;
$fg1: #a89983;
