$bgcolor: #2b2d3a;
$fgcolor: #e1e3e4;
$grey: #3b4252;
$grey-alt: #4c566a;
$red: #bf616a;
$green: #9ed06c;
$yellow: #f0c362;
$blue: #6dcae8;
$purple: #bb97ee;
$aqua: $blue;
$aqua-alt: #8fbcbb;
$aqua-alt: #8fbcbb;
$fg1: #e1e3e4;
$fg1: #e1e3e4;
